/* BUTTONS */
.Btn {
    margin: 15px 0;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    border: 1px solid #F6EFEE;
    border-radius: 100px;
    padding: 0 20px;
    background-color: #2B689C;
}

.Btn:hover {
    background-color: #3A3A3A;
}