/* FONTS */
h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

/* FORM CONTAINER */
.ContactForm {
    margin: auto;
    z-index: 19;
    padding: 20px;
    border-radius: 20px;
}

/* INPUT ROWS */
.FormRows {
    justify-content: space-evenly;
}

/* FORM FIELDS */
.Form {
    text-align: center;
    margin: 0 auto;
}

.Form input,
.Form textarea,
.Form button {
    margin: 0 5px 15px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    border: 1px solid #F6EFEE;
}

.Form input,
.Form textarea {
    color: #3A3A3A;
}

.Form input {
    width: 24%;
}

.Form textarea {
    width: 90%;
    height: 240px;
    margin: auto;
    margin-bottom: 10px;
}

.Form button {
    border-radius: 100px;
    padding: 0 20px;
    background-color: #2B689C;
}