/* FONTS */
h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

/* FORM CONTAINER */
.ContactForm {
    width: 50%;
    margin: auto;
    z-index: 19;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #F6EFEE;
    background-color: #fafafa;
}


/* FORM FIELDS */
.Form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.FormColumn {
    width: 45%;
    text-align: center;
}