.HomeContainer {
    width: 100%;
}

.HeroImage {
    background: url("../assets/images/pexels-luke-webb-2783619.jpg") no-repeat;
    height: 600px;
    margin: 0 auto;
    background-size: 100%;
    contain: content;
    background-attachment: fixed;
}