/* NAVBAR */
.NavContainer {
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
}

/* LOGO */
.Header {
    text-align: left;
}

.Header h1 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #3a3a3a;
    text-align: left;
}

/* NAVLINKS */
.NavLink{
    color: #3a3a3a;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    font-weight: 700;
    text-align: right;
    padding: 5px;
}

.NavLink:hover{
    color: #4D0307;
    text-decoration: none;
}

.Active{
    color: #982036;
}

/* .PageTitles {
    display: flex;
    justify-content: right;
} */

@media screen and (max-width:767px) {
    /* HEADER */
    .Header h1 {
        font-size: 2em;
    }

    .NavLink {
        font-size: 1.5em;
    }
}

@media screen and (max-width:380px) {
    /* HEADER */
    .Header h1 {
        font-size: 1.4em;
    }
}