/* PRICE BOX */
.FeesBox {
    border: 1px solid #F6EFEE;
    border-radius: 10px;
    height: 400px;
    padding: 40px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.ServiceCost {
    justify-content: space-between;
}

/* RENTAL CONTRACT */
.RentalLease {
    color: #2B689C;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}