/* NAVLINKS */
.NavLink{
    font-family: 'Amatic SC', cursive;
    color: #2B689C;
    font-size: 2em;
    font-weight: 700;
    text-align: right;
    padding: 5px;
}

.NavLink:hover{
    color: #3A3A3A;
    text-decoration: none;
}

.Active{
    color: #3A3A3A;
}

@media screen and (max-width:920px) {
    .NavLink {
        font-size: 1.4em;
    }
}

@media screen and (max-width:767px) {
    .NavLink {
        font-size: 1.2em;
        padding: 3px;
    }
}